// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * FriendlyElec NanoPC-T4 board device tree source
 *
 * Copyright (c) 2018 FriendlyElec Computer Tech. Co., Ltd.
 * (http://www.friendlyarm.com)
 *
 * Copyright (c) 2018 Collabora Ltd.
 */

/dts-v1/;
#include "rk3399-nanopi4.dtsi"

/ {
	model = "FriendlyElec NanoPC-T4";
	compatible = "friendlyarm,nanopc-t4", "rockchip,rk3399";

	vcc12v0_sys: vcc12v0-sys {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <12000000>;
		regulator-min-microvolt = <12000000>;
		regulator-name = "vcc12v0_sys";
	};

	vcc5v0_host0: vcc5v0-host0 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-name = "vcc5v0_host0";
		vin-supply = <&vcc5v0_sys>;
	};

	ov13850_avdd_2p8v: 2p8v {
		compatible = "regulator-fixed";
		regulator-name = "ov13850_avdd";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		regulator-always-on;
	};

	ov13850_dovdd_1p8v: 1p8v {
		compatible = "regulator-fixed";
		regulator-name = "ov13850_dovdd";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	ov13850_dvdd_1p2v: 1p2v {
		compatible = "regulator-fixed";
		regulator-name = "ov13850_dvdd";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		regulator-always-on;
	};

	ov4689_avdd_2p8v: 2p8v {
		compatible = "regulator-fixed";
		regulator-name = "ov4689_avdd";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		regulator-always-on;
	};

	ov4689_dovdd_1p8v: 1p8v {
		compatible = "regulator-fixed";
		regulator-name = "ov4689_dovdd";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	ov4689_dvdd_1p2v: 1p2v {
		compatible = "regulator-fixed";
		regulator-name = "ov4689_dvdd";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		regulator-always-on;
	};

	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		recovery {
			label = "Recovery";
			linux,code = <KEY_VENDOR>;
			press-threshold-microvolt = <18000>;
		};
	};

	ir-receiver {
		compatible = "gpio-ir-receiver";
		gpios = <&gpio0 RK_PA6 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&ir_rx>;
	};

	fan: pwm-fan {
		compatible = "pwm-fan";
		/*
		 * With 20KHz PWM and an EVERCOOL EC4007H12SA fan, these levels
		 * work out to 0, ~1200, ~3000, and 5000RPM respectively.
		 */
		cooling-levels = <0 12 18 255>;
		#cooling-cells = <2>;
		fan-supply = <&vcc12v0_sys>;
		pwms = <&pwm1 0 50000 0>;
	};
};

&cpu_thermal {
	trips {
		cpu_warm: cpu_warm {
			temperature = <55000>;
			hysteresis = <2000>;
			type = "active";
		};

		cpu_hot: cpu_hot {
			temperature = <65000>;
			hysteresis = <2000>;
			type = "active";
		};
	};

	cooling-maps {
		map2 {
			trip = <&cpu_warm>;
			cooling-device = <&fan THERMAL_NO_LIMIT 1>;
		};

		map3 {
			trip = <&cpu_hot>;
			cooling-device = <&fan 2 THERMAL_NO_LIMIT>;
		};
	};
};

&pcie0 {
	num-lanes = <4>;
	vpcie3v3-supply = <&vcc3v3_sys>;
};


&i2c1 {
	status = "okay";
	ov13850p0: ov13850@10 {
		compatible = "ovti,ov13850";
		status = "okay";
		reg = <0x10>;
		clocks = <&cru 0x89>;
		clock-names = "xvclk";
		avdd-supply = <&ov13850_avdd_2p8v>;
		dovdd-supply = <&ov13850_dovdd_1p8v>;
		dvdd-supply = <&ov13850_dvdd_1p2v>;

		reset-gpios = <&gpio2 27 0>;
		pwdn-gpios = <&gpio2 28 0>;
		pinctrl-names = "rockchip,camera_default", "rockchip,camera_sleep";
		pinctrl-0 = <&cam0_default_pins &cif_clkout_a>;
		pinctrl-1 = <&cam0_default_pins>;

		port {
			ucam_out0b: endpoint {
				remote-endpoint = <&mipi_in_ucam0b>;
				data-lanes = <1 2>;
			};
		};
	};
};

&i2c2 {
	status = "okay";
	ov4689p1: ov4689@36 {
		compatible = "ovti,ov4689";
		status = "okay";
		reg = <0x36>;
		clocks = <&cru 0x89>;
		clock-names = "xvclk";
		avdd-supply = <&ov4689_avdd_2p8v>;
		dovdd-supply = <&ov4689_dovdd_1p8v>;
		dvdd-supply = <&ov4689_dvdd_1p2v>;

		reset-gpios = <&gpio2 27 0>;
		pwdn-gpios = <&gpio2 28 0>;
		pinctrl-names = "rockchip,camera_default", "rockchip,camera_sleep";
		pinctrl-0 = <&cam1_default_pins &cif_clkout_b>;
		pinctrl-1 = <&cam1_default_pins>;

		port {
			ucam_out1b: endpoint {
				remote-endpoint = <&mipi_in_ucam1b>;
				data-lanes = <1 2>;
			};
		};
	};
};

&pinctrl {
	ir {
		ir_rx: ir-rx {
			/* external pullup to VCC3V3_SYS, despite being 1.8V :/ */
			rockchip,pins = <0 RK_PA6 1 &pcfg_pull_none>;
		};
	};

	cam_pins {
		cif_clkout_a: cif-clkout-a {
			rockchip,pins = <2 11 3 &pcfg_pull_none>;
		};

		cif_clkout_b: cif_clkout_b {
			rockchip,pins = <2 15 3 &pcfg_pull_none>;
		};

		cif_clkout_a_sleep: cif-clkout-a-sleep {
			rockchip,pins = <2 11 0 &pcfg_pull_none>;
		};

		cam0_default_pins: cam0-default-pins {
			rockchip,pins = <2 28 0 &pcfg_pull_down>, <2 27 0 &pcfg_pull_none>;
		};

		cam1_default_pins: cam1-default-pins {
			rockchip,pins = <0 12 0 &pcfg_pull_down>, <0  8 0 &pcfg_pull_none>;
		};
	};
};

&mipi_dphy_rx0 {
	status = "okay";
};

&isp0_mmu {
	status = "okay";
};

&isp0 {
	status = "okay";

	ports {
		port@0 {
			mipi_in_ucam0b: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&ucam_out0b>;
				data-lanes = <1 2>;
			};
		};
	};
};

&isp1 {
	status = "okay";

	ports {
		port@0 {
			mipi_in_ucam1b: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&ucam_out1b>;
				data-lanes = <1 2>;
			};
		};
	};
};

&sdhci {
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
};

&u2phy0_host {
	phy-supply = <&vcc5v0_host0>;
};

&u2phy1_host {
	phy-supply = <&vcc5v0_host0>;
};

&vcc5v0_sys {
	vin-supply = <&vcc12v0_sys>;
};

&vcc3v3_sys {
	vin-supply = <&vcc12v0_sys>;
};

&vbus_typec {
	enable-active-high;
	gpios = <&gpio4 RK_PD2 GPIO_ACTIVE_HIGH>;
	vin-supply = <&vcc5v0_sys>;
};
